@using WebSite.Language;
@model List<WebSite.Models.TINTUCDTO>
@{
    ViewBag.Title = Resource.vtaiBien;
}

<section class="dich_vu_phat_hoa_toc">
    <div class="container boxDetail">
        <div class="section-title">
            <h2>Dịch vụ hỏa tốc, phát yêu cầu</h2>
        </div>
        <p class="d_txt">
            <strong>1. Phạm vi cung cấp:</strong> Trung tâm tỉnh, thành phố của 63 tỉnh thành trên cả nước. Không cung cấp dịch vụ Hỏa tốc trên địa bàn Huyện, xã, thôn, bản, vùng sâu, vùng xa, biên giới, hải đảo.
        </p>
        <p>
            <strong>2. Cước phí:</strong>&nbsp;Tham khảo mục Bảng giá DỊCH VỤ HỎA TỐC.
        </p>
        <p>
            <strong>3. Khối lượng:</strong>
        </p>
        <p>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Khối lượng bưu gửi CPN thông thường: Tối đa 40kg/ kiện-không giới hạn số kiên.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi là hàng nguyên khối không thể tách rời, vận chuyển bằng đường bộ được nhận gửi tối đa đến 50kg, nhưng phải đảm bảo giới hạn về kích thước theo quy định.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi là hàng nhẹ (hàng có khối lượng thực tế nhỏ hơn khối lượng qui đổi), khối lượng tính cước không căn cứ vào khối lượng thực tế mà căn cứ vào khối lượng qui đổi theo cách tính như sau: Khối lượng qui đổi (kg) = Chiều dài x Chiều rộng x Chiều cao (cm) / 6000</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi quốc tế: Thực hiện theo thông báo của Công ty Cổ phần Chuyển phát nhanh Bưu điện đối với từng nước.</span>
        </p>
        <p>
            <strong>4. Kích thước:</strong>
        </p>
        <p>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Kích thước tối thiểu:</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">+ Ít nhất một mặt bưu gửi có kích thước không nhỏ hơn 90mm x 140mm với sai số 2 mm.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">+ Nếu cuộn tròn: Chiều dài bưu gửi cộng hai lần đường kính tối thiểu 170 mm và kích thước chiều lớn nhất không nhỏ hơn 100mm.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Kích thước tối đa: Bất kỳ chiều nào của bưu gửi không vượt quá 1500mm và tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3000mm.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Bưu gửi công kềnh: là bưu gửi có kích thước lớn hơn so với kích thước thông thường và có quy định riêng phụ thuộc vào từng nơi nhận, nơi phát và điều kiện phương tiện vận chuyển.</span>
            <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi quốc tế: Kích thước thông thường đối với bưu gửi CPN là bất kỳ chiều nào của bưu gửi cũng không vượt quá 1,5m và tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3m.</span>
        </p>
        <p>
            <span style="color: rgb(62, 77, 92); text-align: justify;"><strong>5. Dịch vụ cộng thêm:</strong> Được khách hàng bổ xung kèm theo Dịch vụ chính và được tính cước theo bảng giá DỊCH VỤ CỘNG THÊM.</span>
        </p>
    </div>
</section>
