@using WebSite.Language
@{
    ViewBag.Title = Resource.khobai;
}
<section class="dich_vu_tiet_kiem_48">
    <div class="container boxDetail">
        <div class="section-title">
            <h2>Dịch vụ chuyển phát tiết kiệm 48h</h2>
        </div>
        <p class="d_txt">
            <strong>1. Khái niệm</strong>: Là dịch vụ chuyển phát nhanh trong nước và quốc tế theo thời gian được công bố trước, theo chỉ tiêu thời gian ( xem phần chỉ tiêu thời gian) trong nước từ 48 đến 72 giờ. Ngoài ra NETPOST Việt Nam còn chấp nhận chuyển phát nhanh đi khu vực ngoại thành và nông thôn theo thời gian thoả thuận.
        </p>
        <p>
            <strong>2. Khối lượng, kích thước:</strong>
        </p>
        <p>
            <span>-&nbsp; Khối lượng tối đa đối với hàng nguyên khối: 50kg/ kiện-không giới hạn số kiện.</span>
        </p>
        <p>
            <span>-. Kích thước tối đa: chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3m, chiều dài nhất của bưu gửi không vượt quá 1,5m.</span>
        </p>
        <p>
            - Hàng cồng kềnh là hàng có kích thước vượt quá kích thước tối đa ở bất cứ chiều nào.
        </p>
        <p>
            <span>- Hàng nhẹ: là&nbsp;</span>Hàng hóa có thể tích trên 5.000 cm3/kg.
        </p>
        <p>
            -&nbsp;<span>Đối với bưu gửi là hàng nhẹ (hàng có khối lượng thực tế nhỏ hơn khối lượng qui đổi), khối lượng tính cước không căn cứ vào khối lượng thực tế mà căn cứ vào khối lượng qui đổi theo cách tính như sau: </span>
        </p>
        <p>
            <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Khối lượng qui đổi (kg) = Chiều dài x Chiều rộng x Chiều cao (cm) / 5000.</span>
        </p>
        <p>
            <strong>3. Chỉ tiêu thời gian:</strong>&nbsp;Từ 48H-72H phụ thuộc vào địa danh cụ thể. Không áp dụng&nbsp; đối với khu vực vùng sâu, vùng xa, huyện, xã, biê giới, hải đảo....
        </p>
        <p>
            <strong>4. Giá cước:</strong>&nbsp;Tham khảo bảng giá cước cụ thể cho từng vùng trong mục BẢNG GIÁ- DỊCH VỤ TIẾT KIỆM.
        </p>


    </div>
</section>
