@using WebSite.Language
@{
    ViewBag.Title = Resource.ttcty;
}
<style>
    p {
        text-align: justify;
    }

    strong, span {
        font-size:16px !important;
    }
</style>
<div class="page-container">
    <section class="thong_tin_cong_ty">
        <div class="container">
            <div class="boxDetail">
                    <h2 class="section_header">VỀ NETPOST</h2>
                    <p class="d_txt"></p><p>
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span new="" style="color: rgb(51, 51, 51); text-align: justify;" times="">NETPOST xin gửi tới Quý Khách Hàng lời chúc THÀNH CÔNG - GIÀU CÓ - THỊNH VƯỢNG.</span></span></span>
                    </p>
                    <p>
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span new="" style="color: rgb(51, 51, 51); text-align: justify;" times="">Netpost là đơn vị chuyên cung cấp các dịch vụ&nbsp;</span><em box-sizing:="" new="" style="color: rgb(51, 51, 51); font-size: 15px; text-align: justify;" times=""><span style="box-sizing: border-box; color: rgb(34, 34, 34);"><a href="http://goldtimes.vn/chuyen-phat-nhanh-trong-nuoc" style="box-sizing: border-box; background-color: transparent; color: rgb(34, 34, 34); text-decoration-line: none; transition: all 0.2s ease 0s;">chuyển phát nhanh trong nước</a></span></em><span new="" style="color: rgb(51, 51, 51); text-align: justify;" times="">. Tuy là một công ty trẻ mới tham gia vào thị trường chuyển phát, nhưng nhờ có sự tin tưởng ủng hộ nhiệt tình của Quý khách hàng và các đối tác, chúng tôi đã chiếm cho mình một chỗ đứng vững chắc trong lĩnh vực Bưu chính chuyển phát, phục vụ&nbsp;</span><a 0.2s="" all="" box-sizing:="" color:="" ease="" href="http://goldtimes.vn/trang-chu" new="" style="background-color: transparent; font-size: 15px; text-align: justify;" text-decoration-line:="" times="" transition:=""><em style="box-sizing: border-box;"><span style="box-sizing: border-box;">chuyển phát nhanh</span></em></a><span new="" style="color: rgb(51, 51, 51); text-align: justify;" times="">, hàng hóa khắp 63 tỉnh thành trên cả nước và quốc tế. Với bộ máy, đội ngũ nhân viên trẻ&nbsp;trung thực, nhanh nhẹn, phục vụ nhiệt tình chu đáo đã mang lại sự tin tưởng ngày càng nhiều từ các Quý khách hàng. NETPOST luôn đặt lợi ích của nhân viên, khách hàng lên hàng đầu, luôn lỗ lực đem lại lợi ích lớn nhất cho nhân viên và khách hàng của công ty. Vì vậy chúng tôi luôn nghiên cứu để tạo ra môi trường làm việc mà ở đó nhân viên có thể phát huy tối đa năng lực, đưa ra các giải pháp nhằm tiết kiệm tối đa chi phí cho Quý khách hàng nhưng vẫn đáp ứng được chất lượng, thời gian và nhu cầu đa dạng của Quý khách. Khách hàng chính là nhân tố xây dựng lên thương hiệu của NETPOST nên quan điểm kinh doanh của chúng tôi luôn đưa lên hàng đầu đó là:</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + Gây dựng niềm tin giữa Nhân Viên, Khách hàng với Công ty.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box; color: rgb(34, 34, 34);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + Là bạn hàng tin cậy với các Đối tác.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box; color: rgb(34, 34, 34);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + Sự trung thực, minh bạch trong kinh doanh.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box; color: rgb(34, 34, 34);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; + Tạo được uy tín và chất lượng trong dịch vụ.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box; color: rgb(34, 34, 34);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + Lấy công nghệ làm xúc tác tăng chất lượng quản lý.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; color: rgb(34, 34, 34);">NETPOST</span>&nbsp;xin ghi nhận và chân thành cảm ơn sự hợp tác, hỗ trợ, tin tưởng của tất cả các Quý khách hàng và các đối tác. Chúng tôi sẽ không ngừng nỗ lực phấn đấu với mục đích phục phụ khách hàng chu đáo, tận tâm bằng sự chuyên nghiệp và chất lượng tốt hơn nữa để cùng Quý khách hàng cùng nhau phát triển trong thời buổi kinh tế cạnh tranh hiện nay.</span></span></span>
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 10px; font-size: 15px; padding: 0px; color: rgb(51, 51, 51); font-family: SegoeUI; text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:times new roman,times,serif;"><span style="box-sizing: border-box;">Trân trọng!</span></span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-family:times new roman,times,serif;"><span style="font-size:18px;"><span style="color: #da251d;">CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH NETPOST VIỆT NAM</span></span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-family:times new roman,times,serif;">Trụ Sở:&nbsp;<span style="font-size: 16px; line-height: 22px;">Số 68E Ngõ 68 Đường Trung Kính, Phường Yên Hòa, Quận Cầu Giấy, Hà Nội</span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-family:times new roman,times,serif;"><span style="font-size: 16px; line-height: 22px;">Hotline: 024.396.12345 - 028.3948.3333</span></span>
                    </p><p></p>
                    <p></p>
                </div>
        </div>
    </section>
</div>
