@using WebSite.Language;
@model List<WebSite.Models.TINTUCDTO>
@{
    ViewBag.Title = @Resource.vtaiHK;
}
<style>
    .entry-content .col-md-6 {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
</style>

<section class="bang_gia_cuoc_chuyen_phat_nhanh">
    <div class="container">
        <div class="row">
            <div class="boxDetail">
                <h2 class="section_header">DỊCH VỤ CHUYỂN PHÁT NHANH</h2>
                <p class="d_txt">
                    <strong>1. Khái niệm:&nbsp;</strong> Là dịch vụ chuyển phát nhanh trong nước và quốc tế theo thời gian được công bố trước, theo chỉ tiêu thời gian (xem phần chỉ tiêu thời gian) trong nước từ 12 đến 48 giờ.
                </p>
                <p>
                    <span><strong>2. Phạm vi cung cấp:</strong></span>
                </p>
                <p>
                    Trung tâm các tỉnh, thành phố trên toàn quốc. Đối với khu vực vùng sâu, vùng xa, thôn, xóm. bản, xã, huyện, hải đảo thì chúng tôi cung cấp thông qua các đối tác lớn có uy tín hàng đầu trong lĩnh vực
                </p>
                <p>
                    <strong>3. Khối lượng</strong>
                </p>
                <p>
                    <span style="text-align: justify;">- Khối lượng bưu gửi CPN thông thường: Tối đa 40kg/kiện, không giới hạn số kiện.</span>
                    <span style="text-align: justify;">- Đối với bưu gửi là hàng nguyên khối không thể tách rời, vận chuyển bằng đường bộ được nhận gửi tối đa đến 50kg, nhưng phải đảm bảo giới hạn về kích thước theo quy định.</span>
                    <span style="text-align: justify;">- Đối với bưu gửi là hàng nhẹ (hàng có khối lượng thực tế nhỏ hơn khối lượng qui đổi), khối lượng tính cước không căn cứ vào khối lượng thực tế mà căn cứ vào khối lượng qui đổi theo cách tính như sau:</span>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Khối lượng qui đổi (kg) = Chiều dài x Chiều rộng x Chiều cao (cm) / 6000.
                </p>
                <p>
                    <strong>4. Kích thước:</strong>
                </p>
                <p>
                    <span style="text-align: justify;">- Kích thước tối thiểu:</span>
                    <span style="text-align: justify;">+ Ít nhất một mặt bưu gửi có kích thước không nhỏ hơn 90mm x 140mm với sai số 2 mm.</span>
                    <span style="text-align: justify;">+ Nếu cuộn tròn: Chiều dài bưu gửi cộng hai lần đường kính tối thiểu 170 mm và kích thước chiều lớn nhất không nhỏ hơn 100mm.</span>
                    <span style="text-align: justify;">- Kích thước tối đa: Bất kỳ chiều nào của bưu gửi không vượt quá 1500mm và tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3000mm.</span>
                    <span style="text-align: justify;">- Bưu gửi có kích thước lớn hơn so với kích thước thông thường được gọi là bưu gửi cồng kềnh và có quy định riêng phụ thuộc vào từng nơi nhận, nơi phát và điều kiện phương tiện vận chuyển.</span>
                </p>
                <p>
                    <strong>5. Cước phí</strong>
                </p>
                <p>
                    - Tham khảo mục BẢNG GIÁ
                </p>
                <p>
                    - Tùy theo từng dịch vụ sẽ có bảng cước giá khác nhau kèm theo phí dịch vụ của các dịch vụ cộng thêm
                </p>
                <p>
                    <strong>6. Dịch vụ cộng thêm</strong>:&nbsp;<span style="color: rgb(62, 77, 92); text-align: justify;">Được khách hàng bổ xung kèm theo Dịch vụ chính và được tính cước theo bảng giá DỊCH VỤ CỘNG THÊM</span>
                </p>
            </div>
        </div>
    </div>
</section>


