@using WebSite.Language;
@{
    ViewBag.Title = Resource.thutuchaiquan;
}
<style>
    .entry-content .col-md-4 {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
</style>
<div class="page-container">
    <section class="dich_vu_hang_gia_tri_cao">
        <div class="container boxDetail">
            <h2 class="section_header">DỊCH VỤ HÀNG GIÁ TRỊ CAO, EXPRESS</h2>
            <p class="d_txt">
               <strong>1. Khái niệm</strong>:&nbsp;Dịch vụ đặc thù mà bưu gửi được tổ chức khai thác và chuyển phát cùng hành trình với các bưu gửi CPN thông thường. Tuy nhiên sẽ được ưu tiên sắp xếp để phát đến người nhận trong khoảng thời gian trong buổi sáng. Mức độ ưu tiên sau Dịch vụ Hỏa Tốc.
            </p>
            <p>
                <strong>2. Phạm vi cung cấp</strong>: Trung tâm các tỉnh và thành phố của 63 tỉnh thành trên toàn quốc.
            </p>
            <p>
                <strong>3. Cước phí</strong>: Tham khảo mục Bảng giá DỊCH VỤ EXPRESS..
            </p>
            <p>
                <strong>4. Khối lượng</strong>:
            </p>
            <p>
               
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Khối lượng bưu gửi CPN thông thường: Tối đa 40kg/bưu gửi.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi là hàng nguyên khối không thể tách rời, vận chuyển bằng đường bộ được nhận gửi tối đa đến 50kg, nhưng phải đảm bảo giới hạn về kích thước theo quy định.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi là hàng nhẹ (hàng có khối lượng thực tế nhỏ hơn khối lượng qui đổi), khối lượng tính cước không căn cứ vào khối lượng thực tế mà căn cứ vào khối lượng qui đổi theo cách tính như sau:</span>
                  
            </p>
            <p>
                <span style="color: rgb(62, 77, 92); text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Khối lượng qui đổi (kg) = Chiều dài x Chiều rộng x Chiều cao (cm) / 6000</span>
            </p>
            <p>
               <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi quốc tế: Thực hiện theo thông báo của Công ty Cổ phần Chuyển phát nhanh Bưu điện đối với từng nước.</span>
            </p>
            <p>
                <span style="color: rgb(62, 77, 92); text-align: justify;">5. Kích thước:</span></strong>
            </p>
            <p>
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Kích thước tối thiểu:</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">+ Ít nhất một mặt bưu gửi có kích thước không nhỏ hơn 90mm x 140mm với sai số 2 mm.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">+ Nếu cuộn tròn: Chiều dài bưu gửi cộng hai lần đường kính tối thiểu 170 mm và kích thước chiều lớn nhất không nhỏ hơn 100mm.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Kích thước tối đa: Bất kỳ chiều nào của bưu gửi không vượt quá 1500mm và tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3000mm.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Bưu gửi công kềnh: là bưu gửi có kích thước lớn hơn so với kích thước thông thường và có quy định riêng phụ thuộc vào từng nơi nhận, nơi phát và điều kiện phương tiện vận chuyển.</span><br style="box-sizing: border-box; color: rgb(62, 77, 92); font-family: Roboto-Regular; text-align: justify;">
                        <span style="color: rgb(62, 77, 92); text-align: justify;">- Đối với bưu gửi quốc tế: Kích thước thông thường đối với bưu gửi CPN là bất kỳ chiều nào của bưu gửi cũng không vượt quá 1,5m và tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3m.</span>
            </p>
            <p>
                <span style="color: rgb(62, 77, 92); text-align: justify;"><strong>6. Dịch vụ cộng thêm:</strong> Được khách hàng bổ xung kèm theo Dịch vụ chính và được tính cước theo bảng giá DỊCH VỤ CỘNG THÊM.</span>
            </p>
        </div>
    </section>
</div>

