@using WebSite.Language
@{
    ViewBag.Title = Resource.vtaiBo;
}
<div class="page-container">
    <section class="dich_vu_chuyen_phat_thuong">
        <div class="container boxDetail">
            <h2 class="section_header">DỊCH VỤ CHUYỂN PHÁT THƯỜNG</h2>
            <p class="d_txt">
                <strong>1. Khái niệm</strong>: Là dịch vụ mà hàng hóa được vận chuyển bằng đường bộ, thời gian chuyển phát tính theo ngày- phù hợp với những hang hóa không cần nhanh và tiết giảm chi phí thấp nhất.
            </p>
            <p>
                <span style="font-family:times new roman,times,serif;"><strong><span style="font-size:14px;">2. Khối lượng, kích thước:</span></strong></span>
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <span style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; border-radius: 0px;">-&nbsp; Khối lượng tối đa đối với hàng nguyên khối: 50kg/ kiện-không giới hạn số kiện.</span>
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <span style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; border-radius: 0px;">-. Kích thước tối đa: chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo) không vượt quá 3m, chiều dài nhất của bưu gửi không vượt quá 1,5m.</span>
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                - Hàng cồng kềnh là hàng có kích thước vượt quá kích thước tối đa ở bất cứ chiều nào.
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <span style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; border-radius: 0px;">- Hàng nhẹ: là&nbsp;</span>Hàng hóa có thể tích trên 3.000 cm3/kg.
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                -&nbsp;<span style="color: rgb(34, 34, 34);">Đối với bưu gửi là hàng nhẹ (hàng có khối lượng thực tế nhỏ hơn khối lượng qui đổi), khối lượng tính cước không căn cứ vào khối lượng thực tế mà căn cứ vào khối lượng qui đổi theo cách tính như sau: </span>
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <span style="color: rgb(34, 34, 34);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Khối lượng qui đổi (kg) = Chiều dài x Chiều rộng x Chiều cao (cm) / 3000</span>
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <strong>3. Chỉ tiêu thời gian:</strong> Từ 3-6 ngày phụ thuộc vào địa danh cụ thể. Đối với khu vực vùng sâu, vùng xa, huyện, xã, biê giới, hải đảo... thì thời gian sẽ được cộng thêm từ 1-3 ngày.
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 18px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Roboto-Regular; vertical-align: baseline; border-radius: 0px; color: rgb(62, 77, 92); text-align: justify;">
                <strong>4. Giá cước:</strong> Tham khảo bảng giá cước cụ thể cho từng vùng trong mục BẢNG GIÁ.
            </p>
        </div>
    </section>
</div>
