@using WebSite.Language
@{
    ViewBag.Title = Resource.chinhsachbaomat;
}
<style>
    div.section {
        margin-bottom: 2em;
    }

    h2.hdTxt02 span {
        font-size: 20px;
    }

    h2.hdTxt02 {
        position: relative;
        margin-top: 0;
        margin-bottom: 1em;
        padding: 0 9px;
        border-top: 2px solid #ccc;
        border-bottom: 1px dotted #ccc;
        font-size: 114%;
        line-height: 1.35;
        width: 100%;
        box-shadow: none !important;
        font-family: Poppins-Regular;
    }

        h2.hdTxt02:after {
            position: absolute;
            top: -2px;
            left: 0px;
            content: "";
            display: block;
            width: 220px;
            border-top: 2px solid #3b499f;
        }

    .sectionInner ul li {
        list-style: circle;
        padding: 6px;
        font-size: 17px;
        margin-left: 1em;
        font-family: Poppins-Regular;
        line-height: 1.3;
    }

    .entry-content p {
        text-align: left;
    }
</style>
<div class="page-container">
    <div class="container">
        <div class="row">
            <div id="post-54" class="post-54 page type-page status-publish hentry">
                <div class="title title2 about">
                    <h4><span> @Resource.chinhsachbaomat </span></h4>
                </div>
                <div class="entry-content">
                    @if (Request.Cookies["language"].Value == "vi")
                    {
                        <div class="section pageLead">
                            <div class="sectionInner" style="padding-bottom: 25px;">
                                <p>Công ty TNHH SG Sagwa Việt Nam & Sagawa Express Việt Nam. (sau đây gọi là Công ty) nhận thấy tầm quan trọng của việc bảo vệ thông tin cá nhân Công ty đã thiết lập chính sách này nhằm để đảm bảo nhân viên, khách hàng, đối tác thực hiện nghiêm ngặt các điều sau đây.</p>
                                <!-- /.sectionInner -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>1. Sử dụng thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>Công ty cam kết chỉ sử dụng thông tin cá nhân trong phạm vi mục đích sử dụng được cung cấp trong “Mục đích sử dụng thông tin cá nhân của người dùng”. Nếu thông tin cá nhân được sử dụng cho các mục đích khác với mục đích sử dụng, Công ty sẽ thông báo trước bằng văn bản, kể từ khi nhận được thông tin cá nhân đó.</p>
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section" id="s02">
                                <h2 class="hdTxt02"><span>2. Cung cấp thông tin cho bên thứ ba</span></h2>
                                <div class="sectionInner">
                                    <p>Công ty sẽ không cung cấp thông tin cá nhân cho bất kỳ bên thứ ba nào khác, trừ các trường hợp sau:</p>
                                    <ul>
                                        <li>Các trường hợp một người đồng ý xử lý thông tin cá nhân của người đó</li>
                                        <li>
                                            Các trường hợp xử lý thông tin cá nhân dựa trên luật pháp và quy định hướng dẫn thi hành
                                        </li>
                                        <li>
                                            Các trường hợp xử lý thông tin cá nhân là cần thiết để bảo vệ tính mạng, cơ thể hoặc tài sản của một cá nhân và rất khó để có được sự đồng ý của người đó
                                        </li>
                                        <li>
                                            CCác trường hợp xử lý thông tin cá nhân là đặc biệt cần thiết để bảo vệ, cải thiện sức khỏe cộng đồng hoặc thúc đẩy sự phát triển của trẻ em và rất khó để có được sự đồng ý của người đó.
                                        </li>
                                        <li>
                                            Các trường hợp xử lý thông tin cá nhân là cần thiết để hợp tác với một cơ quan nhà nước, chính quyền địa phương hoặc một cá nhân hoặc một nhà điều hành doanh nghiệp được ủy thác bởi một trong hai bên phía trước trong việc thực hiện các công việc theo quy định của pháp luật và trong đó có được sự đồng ý của người đó có khả năng cản trở việc thực hiện các vấn đề liên quan
                                        </li>
                                        <li>
                                            Các trường hợp Công ty ủy thác xử lý toàn bộ hoặc một phần dữ liệu cá nhân trong phạm vi cần thiết để đạt được Mục đích sử dụng
                                        </li>
                                    </ul>
                                    <p>Công ty sẽ không cung cấp thông tin cá nhân cụ thể cho bất kỳ bên thứ ba nào trừ khi được pháp luật hoặc quy định cho phép.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>3. Bảo vệ thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>Công ty sẽ thực hiện các biện pháp an toàn cần thiết, như các biện pháp bảo mật thông tin, để đảm bảo tính chính xác và an toàn của thông tin cá nhân và để ngăn chặn truy cập trái phép, rò rỉ hoặc mất thông tin cá nhân.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>4. Giám sát người nhận</span></h2>
                                <div class="sectionInner">
                                    <p>Khi ủy thác thông tin cá nhân cho người nhận bên ngoài, Công ty sẽ ký kết thỏa thuận không tiết lộ thông tin với từng người nhận và sẽ giám sát người nhận một cách thích hợp. Mọi hành vi tiết lộ thông tin cá nhân của bên nhận ủy thác mà không có sự đồng ý của công ty là không được phép.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>5. Hệ thống quản lý thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>Để xử lý thông tin cá nhân, Công ty đã thiết lập một hệ thống quản lý thông tin cá nhân nội bộ. Tuân thủ các quy định nội bộ, Công ty sẽ nỗ lực một cách cần thiết nhằm quản lý thông tin cá nhân một cách phù hợp và cẩn thận nhất.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>6. Tuân thủ luật pháp và quy định thích hợp</span></h2>
                                <div class="sectionInner">
                                    <p>Để đảm bảo bảo vệ thông tin cá nhân đáng tin cậy, Công ty tuân thủ tất cả các luật và quy định của pháp luật liên quan đến thông tin đó.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>7. Thay đổi chính sách bảo vệ thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>Nội dung của Chính sách bảo vệ thông tin cá nhân của công ty có thể được xem xét liên tục, với những cải tiến được thực hiện khi xét thấy cần thiết  để duy trì mức độ bảo vệ thông tin cá nhân tối ưu nhất.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>8. Văn phòng thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>
                                        Nếu bạn có bất kỳ câu hỏi nào liên quan đến Chính sách này hoặc thắc mắc về thông tin cá nhân của riêng bạn, vui lòng liên hệ với Văn phòng Thông tin Cá nhân.
                                    </p>
                                    <p>
                                        Nơi liên lạc : Phòng Hành chính nhân sự - Tổng công ty
                                    </p>
                                    <p>
                                        Điện thoại: +84- 28- 38409 330 (ext : 8108 )
                                    </p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>9. Tiết lộ thông tin cá nhân</span></h2>
                                <div class="sectionInner">
                                    <p>
                                        Để yêu cầu tiết lộ, chỉnh sửa, bổ sung, chấm dứt sử dụng, xóa, vv thông tin cá nhân của riêng bạn, hãy liên hệ với Văn phòng thông tin cá nhân. Chúng tôi sẽ thông báo cho bạn về các chi tiết của thủ tục.
                                    </p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>
                            <!-- /.sectionH1 -->
                        </div>
                    }
                    else if (Request.Cookies["language"].Value == "en")
                    {
                        <div class="section pageLead">
                            <div class="sectionInner" style="padding-bottom: 25px;">
                                <p>SG Sagawa Vietnam Company Limited & Sagawa Express Vietnam (hereinafter referred to as the Company) recognizes the importance of protecting personal information; so that the Company has established this policy to ensure that its employees, customers and partners strictly comply with the following terms.</p>
                                <!-- /.sectionInner -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>1. Use personal information</span></h2>
                                <div class="sectionInner">
                                    <p>The Company undertakes to only use personal information within the scope of use provided in the "Purpose of using personal information of users". If personal information is used for other purposes, the Company will give prior written notice from the time that such personal information is received.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section" id="s02">
                                <h2 class="hdTxt02"><span>2. Provide information to third parties</span></h2>
                                <div class="sectionInner">
                                    <p>The Company will not provide personal information to any other third parties, except in the following cases:</p>
                                    <ul>
                                        <li>A person agrees to process his/her personal information </li>
                                        <li>Processing personal information based on laws and regulations </li>
                                        <li>The processing of personal information is necessary to protect an individual's life, body or property and it is difficult to obtain that person's consent</li>
                                        <li>The processing of personal information is particularly necessary to protect, improve public health or children's development and it is difficult to obtain that person's consent</li>
                                        <li>The processing of personal information is necessary to cooperate with a government agency, local government or an individual or a business entrusted by either parties in the performing works in accordance with the law and in which having the consent of the person may hamper the performance of relevant matters</li>
                                        <li>Personal information provided are the result of the success of the business by merger or otherwise</li>
                                        <li>Entrusted Company processes all or part of personal data to achieve the Purpose of Use</li>
                                    </ul>
                                    <p>The Company will not provide specific personal information to any third party unless permitted by law or regulation.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>3. Protect personal information</span></h2>
                                <div class="sectionInner">
                                    <p>The Company will take necessary security measures, such as information security measures, to ensure the accuracy and security of personal information and to prevent unauthorized access, leakage or loss of personal information.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>4. Supervise the recipient</span></h2>
                                <div class="sectionInner">
                                    <p>When entrusting personal information to external recipients, the Company will sign a non-disclosure agreement with each recipient and will monitor the recipient appropriately. Any disclosure of the entrusted company without the consent of the Company is forbidden.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>5. Personal information management system</span></h2>
                                <div class="sectionInner">
                                    <p>In order to process personal information, the Company has established an internal personal information management system. The Company will make all necessary efforts to handle personal information in the most appropriate and careful way to comply with internal regulations.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>6. Comply with applicable laws and regulations</span></h2>
                                <div class="sectionInner">
                                    <p>To ensure the protection of reliable personal information, the Company complies with all laws and regulations relating to such information.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>7. Change of personal information protection policy</span></h2>
                                <div class="sectionInner">
                                    <p>The content of the Company's Personal Information Protection Policy is subject to continuous review, with improvements made when deemed necessary to maintain the best personal information protection.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>8. Personal information office</span></h2>
                                <div class="sectionInner">
                                    <p>If you have any questions regarding this Policy or questions about your own personal information, please contact the Personal Information Office. </p>
                                    <p>Contact information: Administration & human resource – Head office</p>
                                    <p>Telephone: 84- 28 38409 330 (ext : 8108)</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>

                            <div class="section">
                                <h2 class="hdTxt02"><span>9. Disclosure of personal information</span></h2>
                                <div class="sectionInner">
                                    <p>To request disclosure, correction, addition, termination of use, deletion, etc. of your own personal information, please contact Personal Information Office. We will inform you the details of the procedure.</p>
                                    <!-- /.sectionInner -->
                                </div>
                                <!-- /.sectionH2 -->
                            </div>
                        </div>
                    }
                    else
                    {
                <div class="section pageLead">
                    <div class="sectionInner" style="padding-bottom: 25px;">
                        <p>SG Sagawa Vietnam  Co., Ltd.及びSagawa Express Vietnam Co., Ltd.  (以「当社」という) が個人情報の保護の重要性を認識し、当社は、従業員、お客様、パートナーが以下の事案を厳守するために本規程を定める。</p>
                        <!-- /.sectionInner -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>1. 個人情報使用</span></h2>
                        <div class="sectionInner">
                            <p>当社が、「使用者に対する個人情報使用の目的」に定められた使用範囲内でのみ個人情報を使用することを誓約する。 個人情報を他の目的で使用する場合には、当社がその個人情報を受領した時点から事前に書面で通知する。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section" id="s02">
                        <h2 class="hdTxt02"><span>2. 第三者への情報提供</span></h2>
                        <div class="sectionInner">
                            <p>当社は、以下の場合を除き、他の第三者へ個人情報を提供してはならない。</p>
                            <ul>
                                <li>従業員が本人の個人情報の取扱いに同意する場合</li>
                                <li>法令に基づいて個人情報の取扱いを行う場合</li>
                                <li>個人の生命、身体または財産を守るために当該個人情報の取扱いが必要となる場合であって、本人の同意を得ることが困難な場合。</li>
                                <li>当該個人情報の取扱いにあって、特に公衆の健康を維持し、改善するまたは子供の発達を促進するために必要な情報で、本人の同意を得ることが困難な場合。</li>
                                <li>当該個人情報の取扱いにあって、政府機関、地方自治体、または、従前に委託した個人または団体と協力するために必要な情報で、 法令に基づき、本人の同意を得ることにより、当該事項の履行が妨げられる可能性のある業務を行う場合。</li>
                                <li>個人情報の取扱いを委託された企業が使用目的を達成するために必要な範囲で全部または一部の個人情報の取扱いをする場合。</li>
                            </ul>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>3. 個人情報保護</span></h2>
                        <div class="sectionInner">
                            <p>当社は、個人情報の正確性と安全性を確保し、当該情報への不正アクセス、漏洩、紛失を防止するため、情報セキュリティ対策など必要な安全対策を講じる。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>4. 受領者の監督</span></h2>
                        <div class="sectionInner">
                            <p>社外の受領者に個人情報を委託する場合は、会社は情報の受領者それぞれと非開示契約を締結し、適切に情報の受領者を監督する。当社の同意を得ず他へ個人情報を開示することはできない。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>5. 個人情報管理システム</span></h2>
                        <div class="sectionInner">
                            <p>個人情報を取扱うため、当社が社内個人情報管理システムを設置する。当社は社内の規定を遵守し、最も適切、慎重に個人情報を管理するために努力する。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>6. 法令の遵守</span></h2>
                        <div class="sectionInner">
                            <p>確実に個人情報の保護をするために、当社は個人情報に関連する全ての法令を遵守する。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>7. 個人情報保護の規定変更</span></h2>
                        <div class="sectionInner">
                            <p>当社の個人情報保護に関する規程内容は、継続的に見直され、最適に個人情報保護を維持するために必要と思われる場合は、改正する。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>8. 個人情報管理事務所</span></h2>
                        <div class="sectionInner">
                            <p>
                                本規程に関する質問または自身の個人情報について質問がある場合は、個人情報管理事務所へ連絡してください。
                            </p>
                            <p>
                                連絡先：本社の人事総務部
                            </p>
                            <p>
                                電話番号：84- 38409 330 (ext  :8108)
                            </p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>

                    <div class="section">
                        <h2 class="hdTxt02"><span>9. 個人情報開示</span></h2>
                        <div class="sectionInner">
                            <p>本人の個人情報の開示、訂正、追加、使用終了、削除等を希望する場合は、個人情管理事務所までご連絡ください。 手続の詳細を通知します。</p>
                            <!-- /.sectionInner -->
                        </div>
                        <!-- /.sectionH2 -->
                    </div>
                </div>
                    }
                </div>

            </div>
        </div>
    </div>

</div>