@using WebSite.Language
<div id="myModal" class="modal fade" role="dialog" style="overflow:auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;padding: 10px;">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
            </div>
            <div class="modal-body" style="min-height:350px;">
                <div id="img-air-freight" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/air1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/air2.png" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/air3.png" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('air-freight', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('air-freight', 1)">&#10095;</a>
                </div>
                <div id="img-ocean-export" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/ocean1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="/lib/images/ocean2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/ocean3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('ocean-export', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('ocean-export', 1)">&#10095;</a>
                </div>
                <div id="img-gia_tri_cao" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="/lib/images/custom1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/custom2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/custom3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('gia_tri_cao', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('gia_tri_cao', 1)">&#10095;</a>
                </div>
                <div id="img-trucking" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/sgx1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/sgx2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/sgx3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('trucking', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('trucking', 1)">&#10095;</a>
                </div>
                <div id="img-removal" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/removal1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/removal2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/removal3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('removal', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('removal', 1)">&#10095;</a>
                </div>
                <div id="img-tiet_kiem" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/NT2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/wh-linhTrung.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/wh-queVo.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/tiet_kiem1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/tiet_kiem2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/tiet_kiem3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('tiet_kiem', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('tiet_kiem', 1)">&#10095;</a>
                </div>
                <div id="img-project-cargo" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="/lib/images/projectcargo1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/projectcargo2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/projectcargo3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('project-cargo', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('project-cargo', 1)">&#10095;</a>
                </div>
                <div id="img-SGX" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/chuyenphat1.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/chuyenphat2.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/chuyenphat3.png" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('SGX', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('SGX', 1)">&#10095;</a>
                </div>
                <div id="img-inspection-metering-services" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="/lib/images/TS-WH-2-1024x683.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="/lib/images/IMG_0318-1024x576.jpg" style="width:100%">
                    </div>
                    <div class="mySlides">
                        <img src="/lib/images/inspection3.jpg" style="width:100%">
                    </div>
                    <p id="caption" style="text-align:center"> </p>
                    <a class="prev" onclick="plusSlides('inspection-metering-services', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('inspection-metering-services', 1)">&#10095;</a>
                </div>
                <div id="img-thongtin" hidden class="row imglist" style="justify-content:center;display:flex;">
                    <div class="mySlides">
                        <img src="~/lib/images/linhtrung_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Linh Trung </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/linhtrung.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Linh Trung </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/dienbienphu_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Điện Biên Phủ </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/dienbienphu.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Điện Biên Phủ </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/truongson_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Trường Sơn </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/truongson.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Trường Sơn </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/dongnai_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Đồng Nai </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/dongnai.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Đồng Nai </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/danang-pic.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Đà Nẵng </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/danang.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Đà Nẵng </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/hanoi-pic.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Hà Nội </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/hanoi_map_jp.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Hà Nội </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/haiphong_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Hải Phòng </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/haiphong.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Hải Phòng </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/quevo_map.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Quế Võ </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/quevo.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Quế Võ </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/tusonmap.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Từ Sơn </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/tuson.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Từ Sơn </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/cambodiaoffice.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Campuchia </p>
                    </div>
                    <div class="mySlides">
                        <img src="~/lib/images/cambodia.jpg" style="width:100%">
                        <p id="caption" style="text-align:center"> Campuchia </p>
                    </div>
                    <a class="prev" onclick="plusSlides('thongtin', -1)">&#10094;</a>
                    <a class="next" onclick="plusSlides('thongtin', 1)">&#10095;</a>
                </div>
            </div>

        </div>
    </div>
</div>
