@{
    ViewBag.Title = "THƯ THÔNG BÁO VỀ ẢNH HƯỞNG CỦA DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP";
}
@using WebSite.Language;
<div class="title title1 about">
    <h4>
        <a>
            THƯ THÔNG BÁO
        </a>
    </h4>
</div>
<div class="row pb-2 pl-4">
    <a download href="~/Excel/Thông báo v.v vận chuyển hàng trong thời điểm virus COV-19.pdf" title="Download" style="padding: 0 10px;border-bottom:1px solid;line-height: 1.5;font-size: 17px;"><i class="fa fa-download"></i> Tệp đính kèm </a>
</div>
<div class="row chinhsach-content pr-3">
    <div class="col-md-12">
        <p style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">THƯ TH&Ocirc;NG B&Aacute;O VỀ ẢNH HƯỞNG CỦA DỊCH BỆNH VI&Ecirc;M ĐƯỜNG H&Ocirc; HẤP CẤP (DO CHỦNG MỚI CỦA VIRUS CORONA G&Acirc;Y RA &ndash; COVID-19) VỚI HỆ THỐNG CHUYỂN PH&Aacute;T NHANH NỘI ĐỊA SAGAWA</span></span></strong></span></span></p>

        <p style="text-align:center">&nbsp;</p>

        <p style="margin-left:40px; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><em><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">K&iacute;nh thưa Qu&yacute; Kh&aacute;ch h&agrave;ng, Đối t&aacute;c!</span></span></em></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Trước t&igrave;nh trạng dịch bệnh Covid-19 c&oacute; diễn biến phức tạp, căn cứ theo chỉ đạo của Thủ tướng Ch&iacute;nh phủ về c&ocirc;ng t&aacute;c quản l&yacute; c&aacute;c khu c&aacute;ch ly ri&ecirc;ng biệt cũng như ủng hộ hoạt động cộng đồng to&agrave;n d&acirc;n đẩy l&ugrave;i đại dịch Covid-19, SG Sagawa Việt Nam (gọi tắt l&agrave; Sagawa) xin tr&acirc;n trọng th&ocirc;ng b&aacute;o đến qu&yacute; Kh&aacute;ch h&agrave;ng, đối t&aacute;c v&agrave; c&aacute;c đơn vị tr&ecirc;n to&agrave;n mạng lưới Chuyển ph&aacute;t nhanh nội địa về việc &ldquo;<strong>tạm dừng chấp nhận bưu gửi chuyển ph&aacute;t đến khu vực c&aacute;ch ly tập trung Covid-19</strong>&rdquo;.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Theo đ&oacute;, c&aacute;c bưu cục tạm dừng chấp nhận với những bưu gửi chuyển ph&aacute;t đến c&aacute;c địa điểm c&aacute;ch ly tập trung của nh&agrave; nước quy định. Việc dừng chuyển ph&aacute;t đến khu vực c&aacute;ch ly Covid-19 được thực hiện từ ng&agrave;y 28/03/2020 đến khi c&oacute; th&ocirc;ng b&aacute;o mới. Đối với c&aacute;c sản phẩm đ&atilde; chấp nhận v&agrave; đến bưu cục ph&aacute;t, qu&yacute; Kh&aacute;ch h&agrave;ng, Đối t&aacute;c v&agrave; c&aacute;c đơn vị chủ động li&ecirc;n hệ giao dứt điểm hết ng&agrave;y 31/03/2020.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Ngo&agrave;i ra, do t&aacute;c động của Covid-19 khiến ch&iacute;nh quyền c&aacute;c địa phương tr&ecirc;n to&agrave;n quốc ban h&agrave;nh c&aacute;c hạn chế về việc di chuyển đ&atilde; ảnh hưởng đến khả năng đ&aacute;p ứng c&aacute;c ti&ecirc;u chuẩn cao cấp về dịch vụ của ch&uacute;ng t&ocirc;i. Trong thời gian n&agrave;y, <strong>ch&uacute;ng t&ocirc;i vẫn nhận v&agrave; vận chuyển h&agrave;ng nhưng dịch vụ c&oacute; thể sẽ bị gi&aacute;n đoạn, chậm trễ (kh&ocirc;ng đảm chỉ ti&ecirc;u thời gian v&agrave; kh&ocirc;ng thể &aacute;p dụng việc đền b&ugrave; theo c&aacute;c chỉ ti&ecirc;u như đ&atilde; cam kết)</strong>.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">V&igrave; Sagawa l&agrave; nh&agrave; cung cấp dịch vụ Chuyển ph&aacute;t nhanh chủ lực, ch&uacute;ng t&ocirc;i sẽ tiếp tục hoạt động dưới sự hướng dẫn của c&aacute;c quy định v&agrave; quy chế của Ch&iacute;nh phủ cũng như tiếp tục thực hiện c&aacute;c kế hoạch dự ph&ograve;ng nhằm nỗ lực cung cấp dịch vụ ho&agrave;n hảo cho kh&aacute;ch h&agrave;ng.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Ch&uacute;ng t&ocirc;i nhận thức v&agrave; hiểu r&otilde; vai tr&ograve; thiết yếu của m&igrave;nh trong chuỗi cung ứng to&agrave;n quốc v&agrave; kết nối với c&aacute;c v&ugrave;ng miền trong thời điểm nguy cấp n&agrave;y, v&agrave; ch&uacute;ng t&ocirc;i vẫn ch&uacute; trọng v&agrave;o việc phục vụ kh&aacute;ch h&agrave;ng của m&igrave;nh cũng như cung cấp h&agrave;ng cứu trợ cho c&aacute;c khu vực đang gặp kh&oacute; khăn.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Ch&uacute;ng t&ocirc;i đang gi&aacute;m s&aacute;t chặt chẽ t&igrave;nh h&igrave;nh v&agrave; sẽ cập nhật cho qu&yacute; kh&aacute;ch khi c&oacute; bất kỳ thay đổi n&agrave;o. Nếu qu&yacute; kh&aacute;ch c&oacute; th&ecirc;m thắc mắc, vui l&ograve;ng li&ecirc;n hệ với nh&acirc;n vi&ecirc;n Kinh doanh hoặc đường d&acirc;y n&oacute;ng Dịch vụ kh&aacute;ch h&agrave;ng số <strong>1900545596</strong> v&agrave; <strong>1900545538 </strong>của ch&uacute;ng t&ocirc;i.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">V&igrave; sức khỏe v&agrave; sự an to&agrave;n của cộng đồng, ch&uacute;ng t&ocirc;i rất mong nhận được sự th&ocirc;ng hiểu v&agrave; hợp t&aacute;c đầy đủ, kịp thời của Qu&yacute; Kh&aacute;ch h&agrave;ng, Đối t&aacute;c.</span></span></span></span></p>

        <p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:14.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Tr&acirc;n trọng cảm ơn!</span></span></span></span></p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
<script>
    var bar = $('#banner')[0];
            var height = $('#banner')[0].offsetHeight;
            height = height - 120;
            $('body, html').animate({
                scrollTop: height
            }, 600);
</script>